<style>
    .trocarEmpresa {
        background-color: #bcc2cb;
    }
</style>

<li class="nav-item start">
    <a href="/" class="ajaxify nav-link nav-toggle"><i class="icon-home"></i> <span class="title">Inicio</span></a>
</li>

<li class="nav-item">
    <a class="nav-link nav-toggle" href="javascript:;">
        <i class="fa fa-gear"></i>
        <span class="title">Sistema</span><span class="arrow"></span>
    </a>
    <ul class="sub-menu">

        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Perfis</span></a></li>
        @*<li class="nav-item"><a href="@Url.Action("Index", "Nivel", new { area = "Cadastro" })" class="ajaxify nav-link"><span class="title">Perfis</span></a></li>*@



        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Usuários Administradores</span></a></li>



        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Usuários Clientes</span></a></li>



        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Empresas</span></a></li>


    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-toggle" href="javascript:;">
        <i class="fa fa-edit"></i>
        <span class="title">Cadastros</span><span class="arrow"></span>
    </a>
    <ul class="sub-menu">

        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Áreas</span></a></li>


        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Departamentos</span></a></li>


        <li class="nav-item"><a href="" class="ajaxify nav-link"><span class="title">Niveis Hierarquicos</span></a></li>

    </ul>
</li>
<li class="nav-item">
    <a data-idempresa="" id="btnSelecionarUnidade" class="nav-link nav-toggle">
        <i class="fa fa-sign-in"></i>
        <span class="title">Selecionar Unidade</span>
    </a>
</li>
<li class="nav-item">
    <a data-idempresa="" id="btnSelecionarUnidade" class="nav-link nav-toggle">
        <i class="fa fa-exchange"></i>
        <span class="title">Alterar Unidade</span>
    </a>
</li>

