<div class="Container">
    <div class="col align-self-center">
        <input type="hidden" id="Id" value="@ViewBag.IdPeca" />
        <textarea class="col-md-8" name="mensagem" id="mensagem" placeholder="Escrava sua Mensagem aqui..."></textarea>
    </div>
</div>
