@model teste.Models.ModeloVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #container {
        background-color: black;
        opacity: 0.8;
        width: 253px;
        height: 310px;
        border: double;
        border-radius: 10px;
        margin-top: 5%;
    }
    #span {
        text-align: center;
        color: cornflowerblue;
        opacity: 1;
        margin-left: 20%;
        margin-top: 2%;
        font-size: 20px;
    }
    #ddlCarro {
        border-radius: 7px;
        width: 220px;
        margin-top: 20%;
        margin-left: 6%;
        height: 40px;
    }
    #ddlModelo {
        border-radius: 7px;
        width: 220px;
        margin-top: 15%;
        margin-left: 6%;
        height: 40px;
    }
    .btnTeste {
        border-radius: 7px;
        border: none;
        margin-top: 20%;
        margin-left: 33%;
        width: 100px;
        height: 40px;
    }
</style>

<div class="container" id="container">
    <div class="row" style="margin-left: -15px; margin-right: 15px;">
        <span id="span"><b>Qual o seu carro?</b></span>
        <select class="col-md-12" id="ddlCarro" style="">
            <option>Marca</option>
            @foreach (var carro in Model.Carro)
            {
                <option value="@carro.Id">@carro.MarcaCarro</option>
            }
        </select>
        <select class="col-md-12" id="ddlModelo">
            <option>Modelo</option>
               @*Carregado via Ajax*@
        </select>

        <div class="col-md-12">
            <button class="btn-primary btnTeste">Buscar</button>
        </div>
    </div>
</div>

<script src="~/Scripts/Carro/Carro.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).on('change', '#ddlCarro', function () {
        var id = $('#ddlCarro').val();
        $.ajax({
            url: '/Carro/Listar',
            contentType: 'application/json;charset=utf-8',
            data: {'idCarro': id },
            success: function (data) {
                var options = '<option value="0">Modelo</option>';
                for (var i = 0; i < data.data.length; i++) {
                    options += '<option value="' + data.data[i].Id + '">' + data.data[i].ModeloCarro + '</option>';
                }
                var modelo = $('#ddlModelo');
                modelo.html(options);                
            },
            error: function () {
                console.log("erro")
            }
        })

    });

    $(document).on('click', '.btnTeste', function () {
        var idModelo = $('#ddlModelo').val();
        window.location.href = '/Carro/VisualizarModelo?idModelo=' + idModelo;
    })

</script>
