@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="col-md-12">
    <div class="col-md-">
        <table id="tblPeca" class="display" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome Peça</th>
                    <th>QTD</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblPeca').DataTable({
            "ajax": {
                "url": '/Carro/ListarPeca',
                "Type": "GET",
                "dataType": "json",
                "data": { 'idModelo': @ViewBag.IdModelo },
            },
            "columns": [
                {
                    "data": "Id", "render": function (data) {
                        return '<input class="checker radio" type="radio" value="' + data + '"  name="selected_user" align="middle">';
                    },
                    "fnCreatedCell": function (ntd, sData, oData, iRow, iCol) {
                        $(ntd).find('input');
                    },
                },
                { "data": "NomePeca" },
                { "data": "QTD" }
            ],
            "fixedColumns": true
        });
    });


</script>